
  .form {
    margin-top: 100px;
    margin-right: 600px;
    padding:0;    
    width: 250px;    
    
  }
   

.input{  
  width: 150px;
}

  /*
.form
{         
    border: 1px solid red;    
    width: 220px;
    padding: 0;
    margin: 100px 0 0 200px;    
}

.form input
{
    width: 100px;
    border: none;    
    float:left
}

#fileInput
{    
    width: 135px;
    border: none;
}

.labelTitle { 
display: inline;
float: left;
}

button
{
    display: block;
    margin-left: auto;
    margin-right:auto;
}
*/